{% extends "base.html" %}

{% block title %}
  <meta name="og:title" content="Alexander Seifert | Tags">
  <meta name="twitter:title" content="Alexander Seifert | Tags">
  <title>Alexander Seifert | Tags</title>
{% endblock title %}

{% block description %}
  <meta name="description" content="A list of all the topics I have written about." />
  <meta name="og:description" content="A list of all the topics I have written about." />
  <meta name="twitter:description" content="A list of all the topics I have written about.">
{% endblock description %}

{% block posthead %}
  {% for term in terms %}
    <link rel="prerender" href="{{ term.permalink }}" />
  {% endfor %}
{% endblock posthead %}

{% block content %}
  <h1 class="taxonomy-name">{{ taxonomy.name }}</h1>
  <div class="taxonomy-container">
    {% for term in terms %}
      <div class="term">
        <a href="{{ term.permalink }}">{{ term.name }} ({{ term.pages | length }})</a>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
