{% extends "base.html" %}

{% block title %}
  {% set title = "Alexander Seifert | Tags" -%}
  <meta name="og:title" content="{{ title }}">
  <meta name="twitter:title" content="{{ title }}">
  <title>{{ title }}</title>
{% endblock title %}

{% block description %}
  {% set description = "A list of all the topics I have written about." -%}
  <meta name="description" content="{{ description }}" />
  <meta name="og:description" content="{{ description }}" />
  <meta name="twitter:description" content="{{ description }}">
{% endblock description %}

{% block posthead %}
  {% for term in terms %}
    <link rel="prerender" href="{{ term.permalink }}" />
  {% endfor %}
{% endblock posthead %}

{% block content %}
  <h1 class="taxonomy-name">{{ taxonomy.name }}</h1>
  <div class="taxonomy-container">
    {% for term in terms %}
      <div class="term">
        <a href="{{ term.permalink }}">{{ term.name }} ({{ term.pages | length }})</a>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
