{% extends "base.html" %}

{% import "post-preview.html" as post_macros %}

{% block title %}
  {% set title = "Alexander Seifert | #{{ term.name }} posts" -%}
  <meta name="og:title" content="{{ title }}">
  <meta name="twitter:title" content="{{ title }}">
  <title>{{ title }}</title>
{% endblock title %}

{% block description %}
  {% set description = "Posts tagged #{{ term.name }}" -%}
  <meta name="description" content="{{ description }}" />
  <meta name="og:description" content="{{ description }}" />
  <meta name="twitter:description" content="{{ description }}">
{% endblock description %}

{% block posthead %}
  {% for post in term.pages %}
    <link rel="prerender" href="{{ post.permalink }}" />
  {% endfor %}
{% endblock posthead %}

{% block content %}
  <h1>{{ term.pages | length }} pages tagged with #{{ term.name }}</h1>

  <p><a href="/tags/">All tags</a></p>

  <div class="taxonomy-container">
    {% for post in term.pages %}
      {{ post_macros::post_preview(post=post) }}
    {% endfor %}
  </div>
{% endblock content %}
