{% extends "base.html" %}

{% import "post-preview.html" as post_macros %}

{% block title %}
  {% set title = "Alexander Seifert | Blog" -%}
  <meta name="og:title" content="{{ title }}">
  <meta name="twitter:title" content="{{ title }}">
  <title>{{ title }}</title>
{% endblock title %}

{% block description %}
  {% set description = "A list of all the posts I have written." -%}
  <meta name="description" content="{{ description }}" />
  <meta name="og:description" content="{{ description }}" />
  <meta name="twitter:description" content="{{ description }}">
{% endblock description %}

{% block posthead %}
  {% for post in section.pages %}
    <link rel="prerender" href="{{ post.permalink }}" />
  {% endfor %}
{% endblock posthead %}

{% block content %}
  {{ section.content | safe }}

  <div style="margin-left: 10rem">❧</div>

  {% for post in section.pages %}
    {{ post_macros::post_preview(post=post) }}
  {% endfor %}

  <div class="footer-rule" />
{% endblock content %}
