{% extends "base.html" %}

{% import "post-preview.html" as post_macros %}

{% block title %}
  <meta property="og:title" content="Alexander Seifert | Posts">
  <meta name="twitter:title" content="Alexander Seifert | Posts">
  <title>Alexander Seifert | Posts</title>
{% endblock title %}

{% block description %}
  <meta name="description" property="og:description" content="A list of all the posts I have written." />
  <meta name="twitter:description" content="A list of all the posts I have written.">
{% endblock description %}

{% block posthead %}
  {% for post in section.pages %}
    <link rel="prerender" href="{{ post.permalink }}" />
  {% endfor %}
{% endblock posthead %}

{% block content %}
  {{ section.content | safe }}

  <div style="margin-left: 10rem">❧</div>

  {% for post in section.pages %}
    {% if not post.extra.hide or post.extra.hide == false %}
      {{ post_macros::post_preview(post=post) }}
    {% endif  %}
  {% endfor %}

  <div class="footer-rule" />
{% endblock content %}
